* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

.App {
  font-family: sans-serif;
  display: flex;
  overflow: hidden;
}

.editor {
  width: 50%;
}
.button{
  margin:0;
  border-radius: 10px;
  border: 1px;
  padding: 1rem;
  font-size: 1rem;
}
.preview-wrapper {
  width: 100%;
  /* padding: 2rem; */
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
